
body {
  overflow-x: hidden; 
  background-image: 'url(/images/bg/hero-bg1.jpg)';
}
.heading123 {
  color: rgba(73, 130, 246, 1);
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  top: -2.5rem;
}


#contactus {
  position: relative;
  display: absolute;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 2rem; */
  /* margin-top: 2rem; */
  padding-bottom: 3rem;
  width: 100vw;
height: fit-content;
}

.container-us {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  min-height: 80vh;
  max-height: max-content;
  margin-top: 5rem;
  font-size: small;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.hamburger-container {
  display: none;
}


.heading2 {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.heading2 li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.heading2 li:hover {
  color: rgba(73, 130, 246, 1);
}

.heading2 li.selected {
  color: rgba(73, 130, 246, 1);
}

.content123 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: auto;
  row-gap: 2rem;
  margin-top: 1rem;
  padding: 1rem;
}

.hamburger {
  font-size: 2rem;
  cursor: pointer;
  background: none;
  border: none;
  padding: 10px;
  color: rgba(255, 255, 255, 1);
  z-index: 1001;
}

.selected-heading {
  color: rgba(255, 255, 255, 1);
  font-size: 1.2rem;
  font-weight: bold;
}

/* Contact Us Mobile Adjustments */
@media (max-width: 1400px){
  .heading123{
    top: -1.5rem;
    padding-top: 1rem;
  }
}

@media (max-width: 992px) {
  .hamburger-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
  }

  .hamburger {
    font-size: 2rem;
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
    color: rgba(255, 255, 255, 1);
    z-index: 1001;
  }

  .selected-heading {
    color: rgba(255, 255, 255, 1);
    font-size: 1.2rem;
    font-weight: bold;
  }

  .heading2 {
    display: none;
  }

  .heading2.active {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.95);
    width: 100%;
    text-align: left;
    padding: 10px 0;
  }

  .heading2 li {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    text-align: center;
  }

  .heading2 li h3 {
    font-size: 1.5rem;
  }

  .heading2 li.selected {
    background-color: #007bff;
    color: white;
  }
}

@media (max-width: 600px) {
  .selected-heading {
    font-size: 1rem;
  }
  .container{
    margin: 1rem;
    padding: 1rem;
  }

  .heading2 li h3{
    font-size: 1.1rem;
  }

  .hamburger-container {
    height: min-content;
  }
}

@media (max-width: 450px) {
  .selected-heading {
    font-size: 0.9rem;
  }
}
